@font-face {
  font-family: websans;
  src: url(./assets/WorkSans-Regular.ttf);
}
@font-face {
  font-family: Iranyekan;
  src: url(./assets/iranyekan-regular.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
* {
  box-sizing: border-box;
}
/* Left side section */
.leftSide {
  position: relative;
  width: 60%;
  height: 100%;
  background: linear-gradient(
    to left bottom,
    #95eeda,
    #76e3de,
    #58d7e2,
    #3dcae7,
    #2cbce9
  );
  overflow: hidden;
}
/* Antivirus icon in leftside section */
.antivirusSection {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.antivirusSection img {
  width: 6rem;
  position: absolute;
  z-index: 1;
}
/* Radar line */
.radarLine {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 50%;
  left: 50%;
  box-shadow: 210px 203px 200px -10px rgba(255, 255, 255, 0.6);
  transform: rotate(0deg);
  transform-origin: left bottom;
  animation: rotate 3s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* .radarLine::after {
  position: absolute;
  content: "";
  height: 10rem;
  width: 100%;
  bottom: -10rem;
  left: 0;
  background-blend-mode: screen;
  background: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.5),
    transparent
  );
} */

/* Bubbles */
.bubbles {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bubble {
  position: absolute;
  width: 3rem;
  height: 3rem;
}
.b1::before {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 1;
  content: "";
  animation: scale 2s infinite ease-out;
  border-radius: 50%;
}
.b1::after {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 1;
  content: "";
  animation: scale 2s 2s infinite ease-out;
  border-radius: 50%;
}
.b2::before {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 1;
  content: "";
  animation: scale 1.5s 3s infinite ease-out;
  border-radius: 50%;
}
.b2::after {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 1;
  content: "";
  animation: scale 1.5s 1s infinite ease-out;
  border-radius: 50%;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}
/* Right side section */
.rightSide {
  width: 40%;
  height: 100%;
  direction: rtl;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  padding: 6rem 7rem 0 5rem;
  font-family: iranyekan;
}
.page h6 {
  color: #0d90df;
}
.descriptions {
  margin: 4rem 0 0 0;
}
.descriptions h4 {
  color: #9d9d9b;
}
.form {
  width: 80%;
  margin: 1rem 0;
}
.input {
  width: 100%;
  border-bottom: 0.1rem solid #ccc;
  padding: 0 0 0 0.3rem;
  margin: 0 0 3rem 0;
  display: flex;
  align-items: center;
}
#E-mail {
  border: none;
  outline: none;
  font-size: medium;
  font-family: Iranyekan;
  width: 100%;
}
.fa-user,
.fa-lock,
.fa-minus-circle,
.fa-sync-alt {
  color: #bebebb;
}
#password {
  border: none;
  outline: none;
  font-size: medium;
  font-family: Iranyekan;
  width: 100%;
}
.captcha,
.captchaImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.captcha img {
  width: 7rem;
  margin: 0 0 0 1rem;
}
.captchainput {
  padding: 0 0 0 0.3rem;
  margin: 0 0 1rem 0;
  border-bottom: 0.1rem solid #ccc;
  width: 60%;
  display: flex;
  align-items: center;
}
#captcha {
  width: 100%;
  border: none;
  outline: none;
  font-family: Iranyekan;
  font-size: medium;
}
.button {
  width: 100%;
  height: 2rem;
  margin: 4rem 0 0 0;
  display: flex;
}
.button input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  background-color: #0092e9;
  color: white;
  font-family: Iranyekan;
  cursor: pointer;
}
